  
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box; /* esse aqui é o tamanho da nossa main */
      }

      body {
        font-family: Arial, sans-serif; /*  define a FONTE PADRÃO do site, esse body engloba tudo dele, olha la <body> */
        line-height: 1.6; /* aqui é o espaçamento entre as linhas que vão dar */
        background-color: #fff; /* Fundo branco do nosso site, é bom mudar pro daltonismo */
      }

      /* ---------- NAVBAR ---------- */
      nav {
        position: fixed; /* Fixa ela no topo assim como ta */
        top: 0;
        left: 0;
        width: 100%; /* Ocupa a largura toda, da ponta esquerda até direita, ou seja 100% */
        background: #f8f9fa; /* Cor da nossa navbar (essa parte que fica em cima se chama navbar */
        border-bottom: 1px solid #ddd; /* é a partezinha de baixo na nav, esse aqui ____*/
        padding: 10px 0;
        display: flex;
        justify-content: center; /* Centraliza todo o conteudo no meio, pode ser mudada para left, end-line e etc */
        z-index: 1000; /* garante que fica la em cimão do conteudo*/
      }

      nav img {
        height: 30px; /* tamanho da nossa logo lá na nav (Aqui em cima) */
      }

      /* ---------- CONTEÚDO PRINCIPAL ---------- */
      main {
        margin-top: 80px; /*  espaço para baixo para ficar centralizado */
        text-align: center; /* centraliza o texto( mesma coisa do justify-content) */
        padding: 20px;
      }

      main h1 {
        font-size: 28px;
        margin-bottom: 20px;
      }

      main h1 img {
        width: 30px; /* tamanho do icone de Olá*/
        vertical-align: middle; /* alinha ele junto do texto */
      }

      main h3 {
        font-size: 20px;
        margin-bottom: 20px;
      }

      /* ---------- BOTÕES ---------- */
      #btn {
        display: inline-block;
        padding: 12px 24px;
        font-size: 16px;
        border: none;
        border-radius: 5px; /* esse border radius ele é para arredondar a borda, se você colocar um full ele vai ficar todo redondo */
        cursor: pointer;
        margin: 5px;
        transition: 0.3s; /* isso aqui é um hover, é um tipo de transição, então é legalzinho a olho humano*/
      }

      .btn-primary {
        background-color: #0d6efd; /* a cor de fundo do nosso botão, mudar de acordo com a identidade do nosso site */
        color: white;
      }

      .btn-primary:hover {
        background-color: #0b5ed7; /* esse aqui  é apos chamar o transition, o hover em si, ou seja, ele vai transicionar em 0.3s essa cor mais escura */
      }

      .btn-danger {
        background-color: #dc3545; /*  mesma coisa do -primary */
        color: white;
      }

      .btn-danger:hover {
        background-color: #bb2d3b; /* mesmo esquema de hover */
      }

      /* ----------  (celular) ---------- 
        Como o professor ele pediu responsiivdade, isso aqui é importante, pq ele que lida com o site ficar CERTO no celular*/
      @media (max-width: 600px) {
        main h1 {
          font-size: 22px;
        }

        main h3 {
          font-size: 18px;
        }

        .btn {
          width: 100%; /* os botoes eles ocupam todaa tela */
          margin: 8px 0;
        }
      }